img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.8;
    height: 100%;
    width: 100%;
}

div {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 56px;
    font-weight: bold;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 6px 6px 3px black;

}

p {
    margin: 10px;
}

.instructions {
    border: 2px solid black;
    background-color: wheat;
    max-width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    box-shadow: 6px 6px 3px black;
}

.match-box {
    max-width: 320px;
}

.match-number {
    float: left;
    border: 2px solid black;
    background-color: wheat;
    min-width: 150px;
    min-height: 100px;
    box-shadow: 6px 6px 3px black;
}

#randNumber {
    font-size: 36px;
    margin-top: 20px;
}

.player-score {
    float: right;
    border: 2px solid black;
    background-color: wheat;
    min-width: 150px;
    min-height: 100px;
    box-shadow: 6px 6px 3px black;
}

#userScore {
    font-size: 36px;
    margin-top: 20px;
}



.wins-losses {
    clear: both;
    border: 2px solid black;
    background-color: wheat;
    max-width: 150px;
    min-height: 80px;
    box-shadow: 6px 6px 3px black;
}

.wins {
    float: left;
    margin-left: 10px;
}

.losses {
    float: right;
    margin-right: 10px;
}

.gems {
    max-width: 400px;
}

.gem:hover {
    cursor: pointer;
}

.gem1 {
    height: 90px;
    width: 90px;
}

.gem2 {
    height: 90px;
    width: 90px;
}

.gem3 {
    height: 90px;
    width: 90px;
}

.gem4 {
    height: 90px;
    width: 90px;
}

.message {
    max-width: 700px;
    border: 2px solid black;
    background-color: wheat;
    min-height: 30px;
    box-shadow: 6px 6px 3px black;
    padding-top: 5px;
}